/* .page {
    width: 99vw;
    margin: 0 auto;
   
  }
  .page {
    min-height: calc(100vh - (6rem + 4rem));
  }

  .hero {
    height: 70vh;
    position: relative;
    background: url('../../assets/home-shop-1.jpg') center/cover no-repeat;
    border-radius: 0.25rem;
  }
  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
  }
  .hero-text {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .hero-head {
    padding-bottom: 30px;
  }

  .hero-p {
    font-size: 2em;
  }
  
  @media only screen and (min-width: 768px) {
    .hero-text h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }

    .hero-p {
      font-size: 1rem;
    }

    .hero-head {
      margin-bottom: 0;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  } */


  
  .page {
    width: 99vw;
    margin: 0 auto;
  }
  .page {
    min-height: calc(100vh - (6rem + 4rem));
  }

  .hero {
    height: 80vh;
    position: relative;
    margin-bottom: 2rem;
    background: url('../../assets/home-shop-1.jpg') center/cover no-repeat;
    border-radius: 0.25rem;
  }
  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    align-items: right;
    border-radius: 0.25rem;
  }
  .hero-text {
    color: rgb(65, 61, 61);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .hero-head {
    padding-bottom: 30px;
  }

  .hero-p {
    font-size: 2em;
  }
  
  @media only screen and (min-width: 768px) {
    .hero-text h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }

    .hero-p {
      font-size: 1rem;
    }

    .hero-head {
      margin-bottom: 0;
    }
  }
  