/* .swiper-container {
    height: 50px;
}

.SwiperSlide {
    background-color: black;
}

.swiper {
    max-height: 90vh;
    
}

.img {
    width: 100%;
} */

/* #app {
    height: 10%;
  }
  html,
  body {
    position: relative;
    height: 20%;
  } */
  
  /* body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */
  
  /* .swiper {
    width: 100%;
    height: 30%;
    border: 10px solid black;
   
    
  }
   */
  /* .swiper-slide { */
    /* text-align: center;
    font-size: 18px;
    background: #fff; */
    /* position: absolute; */
    
    /* position: absolute; */
    
  
    /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center; */

  /* } */
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.con1 {
  border: 2px solid red;
  position: absolute;
  color: white;
  font-size: 30px;
  
}
   */


/* .Swiper {
  border: 2px solid red;
} */

   /* .swiper { */
    /* border: 2px solid red; */
    /* height: 37em; */
    /* width: 100%; */
   /* } */

   /* .SwiperSlide { */
    /* border: 10px solid green; */
    /* height: 2px; */

   /* } */

  
   
   /* .container {
    max-width: 100rem;
    max-height: 40rem;
     position: relative;
     text-align: center;
     color: white;
     border: 2px solid green;
    }
    
    .hero-img {
       width: 100%;
    }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
 
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
 
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */



 
  

  
 

