.underline-1 {
   display: none;
}

.about-con {
    max-width: 1120px;
    background-image: url('../../assets/agro.png');
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 50px auto;
}

.con-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.about-content {
    margin: 50px auto;
}

.about-head {
    padding: 2em;
    font-size: 1.5em;
}

.about-img {
    width: 20em;
    margin: auto;
}

.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.about-p {
    padding: 10px;
}

@media all and  (max-width: 768px) {
    .about-con {
        background-image: none;
        border: 2px solid #c59d5f;
    }
    .about-img {
        display: none;
    }
    .about-head {
        padding-bottom: 2px;
    }
    .underline-1 {
        display: block;
        width: 5rem;
        height: 0.25rem;
        background: #c59d5f;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 2.5em;
    }
}