.sec-blog {
    max-width: 100vw;
    margin: 0 auto;
    
}
.sec-blog {
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
    

}

.sec-hero {
    height: 40vh;
    position: relative;
    background: url('../assets/hero4.jpg') center/cover no-repeat;
    border-radius: 0.25rem;
  }
  .sec-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
  }
  .sec-text {
    color: white;
    text-align: center;
  
  }
  
  @media only screen and (min-width: 768px) {
    .sec-text h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }
  }

.blog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.blog-btn button {
  padding: 10px 30px;
  border: 1px solid rgb(252,219,90);
  border-radius: 10px;
  background: transparent;
  font-size: 1.1em;
  cursor: pointer;
}

.blog-btn button:hover {
  background-color: rgb(252,219,90);
}

.blog-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  max-width: 1120px;
  margin: 50px auto;
  gap: 2em;
}

.page-cards {
  align-items: center;
}

.page-content {
  color: black;
  background-color: white;
  align-self: end;
  margin: .5rem .2rem .2rem;
}

.stack {
  display: grid;
}

.stack > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.h-img {
  width: 100%;
  text-align: center;
  background: url('../assets/home-shop-3.jpg');
  margin-bottom: 10em;
}

.h-img::before {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.h-cont {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 0 auto;
}

.h-cont-inner {
  color: white;
}
