.mini-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 10px;
    border-bottom: .5px solid #c59d5f;
}

.mini-content > * {
    padding: 10px;
}

.socials {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials:hover {
    color: rgb(252,219,90);
} 

.socials > * {
    padding-right: 10px;
    font-size: 22px;
}


@media all and  (max-width: 1200px) {
    .mini-content {
        display: none;
    }
}