/* .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;

}
  
.content {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: space-between;
}

.logo-img {
    border: 2px solid green;
    width: 2px;
}

.logo {
    width: 100px;
}

.list {
    display: flex;
    flex-direction: row;
    color: #928e87;
    
}

.list-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9em;
    list-style-type: none;
    font-size: 1.3em;
    font-style: italic;
}

.list1{
    padding: 20px;
    cursor: pointer;
}

.list1:hover {
    color: rgb(252,219,90);
}

.fonts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.5em;
}

.fon1 {
    padding-right: 20px;
}

.btn {
    margin: 30px;

}

@media all and (max-width: 1200px) {
    .content {
        display: none;
    }

    .logo {
       width: 80px;
       border: 2px solid red;
    }


}

 */
.navbar {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-cont {
    max-width: 6em;
    align-items: center;
    margin-left: 3.5em;
    
}

.logo {
    width: 100%;
}

.nav-content {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding: 20px;
    margin-right: 5em;

}

.list-main {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;

}

.list-main {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 1.3em;
    font-style: italic;
}

.list1{
    cursor: pointer;
}

.list1:hover {
    color: rgb(252,219,90);
}

.fonts {
    /* border: 2px solid red; */
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fon1 {
    font-size: 1.5em;
}