.cart-head {
    padding: o 50px ;
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    
}

.cart-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 20px;
}

.cart-img {
    width: 50%;
}